<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet"/>

</head>
<body class="grey-bg">
    <%- include('nav.ejs') %> <!-- ejs파일 가져올떄-->
    <%= user._id%> 의 마이페이지 입니다.
  </body>
</html>